---
name: Publish

on:
  release:
    types: [published]

permissions: {}

jobs:
  publish:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    env:
      MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      MAVEN_CENTRAL_TOKEN: ${{ secrets.OSSRH_TOKEN }}
      MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_PASSPHRASE }}
    steps:
      - name: Set REPOSITORY
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'	
          echo "REPOSITORY=${GITHUB_REPOSITORY#*/}" >> "${GITHUB_ENV}"
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
          persist-credentials: false
      - name: Set SOURCE_DATE_EPOCH
        run: |
          set -euo pipefail
          IFS=$'\n\t'	
          echo "SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)" >> "${GITHUB_ENV}"
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"
          cache: "pip" # caching pip dependencies
      - name: Install Build
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          pipx ensurepath
          pipx install build==1.3.0
          if pipx upgrade build | tee -a /dev/stderr | grep -q -e '^upgraded '; then
            exit 1
          fi
      - name: Build with Python
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          pipx run build
      - name: Install Twine
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          pipx ensurepath
          pipx install twine==6.1.0
          if pipx upgrade twine | tee -a /dev/stderr | grep -q -e '^upgraded '; then
            exit 1
          fi
      - name: Publish packages
        shell: bash
        run: |
          set -euo pipefail
          IFS=$'\n\t'
          twine upload dist/*
      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.REPOSITORY }}
          path: dist/
